@keyframes marquee {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  display: flex;
  width: max-content;
  animation: marquee 90s linear infinite;
}

/* Faster animation for smaller screens */
@media (max-width: 768px) {
  .animate-marquee {
      animation: marquee 100s linear infinite; /* Adjust speed for mobile */
  }
}
